@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Rowdies:wght@300;400;700&display=swap");
body {
  color: #425f4c;
  font-family: "Noto Sans TC", sans-serif;
  height: 1000px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
select,
textarea,
button {
  outline: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/select-arrow.svg);
  background-size: 18px;
  background-position: calc(100% - 14px) center;
  background-repeat: no-repeat;
}

main {
  overflow: hidden;
  min-height: calc(100vh - 61px);
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 0;
  }
}

p {
  margin: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #425f4c;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #889347;
}

a:hover [class^="icon-"]::before, a:hover [class*=" icon-"]::before {
  color: #889347;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  border: 1px solid #c8d286;
  padding: 8px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  border-radius: 0;
}

.btn-text {
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0;
}

.btn-icon {
  font-size: 16px;
}

.btn-icon::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-border {
  background-color: transparent;
  color: #c8d286;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-border .btn-text {
  color: #c8d286;
  font-weight: 700;
}

.btn-border .btn-icon::before {
  color: #889347;
}

.btn-border:hover {
  border-color: #68722e;
  color: #68722e;
}

.btn-border:hover .btn-text {
  color: #68722e;
}

.btn-border:hover .btn-icon::before {
  color: #68722e;
}

.btn-border-onlyicon {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.btn-border-onlyicon .btn-icon {
  font-size: 32px;
}

.btn-border-onlyicon:hover .btn-icon::before {
  color: #fff;
}

.btn-fill {
  background-color: #c8d286;
  color: #fff;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-fill .btn-text {
  color: #fff;
  font-weight: 700;
}

.btn-fill .btn-icon::before {
  color: #fff;
}

.btn-fill:hover {
  background-color: #68722e;
  color: #fff;
  border-color: #68722e;
}

.btn-fill-light {
  padding: 8px 36px;
  background-color: #e3e9d3;
  border-color: #e3e9d3;
}

.btn-fill-light .btn-icon::before {
  color: #68722e;
}

.btn-fill-light .btn-text {
  color: #68722e;
}

.btn-fill-light:hover {
  background-color: #a8b364;
  border-color: #a8b364;
}

.btn-fill-light:hover .btn-icon::before {
  color: #fff;
}

.btn-fill-light:hover .btn-text {
  color: #fff;
}

.btn-alert {
  width: 52px;
  height: 32px;
  font-size: 14px;
  font-weight: 700;
  padding: 0;
}

.btn-alert:hover {
  color: #fff;
}

.title {
  font-size: 46px;
  font-weight: 900;
  margin-bottom: 36px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .title {
    font-size: 36px;
  }
}

.text {
  font-size: 16px;
}

.input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  margin-bottom: 20px;
}

.input-item > label {
  padding: 8px;
  background-color: #a8b364;
  color: #fff;
  font-weight: 900;
  text-align: center;
  display: block;
  height: 100%;
  letter-spacing: 0.05em;
  border: 1px solid #a8b364;
}

.input-item > label.bg-transparent {
  border: 0;
  color: #425f4c;
}

.input-item > input {
  height: 100%;
  padding: 0 10px;
  border: 1px solid #a8b364;
}

.input-item.radio .radio-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
  padding: 8px 20px;
}

.input-item.radio .radio-item {
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4px;
}

.input-item.radio .radio-item > input {
  width: 16px;
  height: 16px;
  position: relative;
}

.input-item.radio .radio-item > input::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #a8b364;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.input-item.radio .radio-item > input::after {
  position: absolute;
  content: "";
  width: 60%;
  height: 60%;
  background-color: #a8b364;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
}

.input-item.radio .radio-item > input:checked::after {
  opacity: 1;
}

.input-item.radio .radio-item > label {
  font-size: 16px;
  font-weight: 900;
}

.nav {
  gap: 32px;
}

.nav-link {
  padding: 0 0 6px;
  border-radius: 0;
  font-weight: 900;
  color: #425f4c !important;
  font-size: 18px;
  border-bottom: 2px solid transparent;
}

.nav-link.active {
  background-color: transparent !important;
  color: #889347 !important;
  border-color: #889347;
}

@media screen and (max-width: 575px) {
  .nav {
    width: 100%;
    overflow-x: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 16px;
    margin-bottom: 20px;
  }
  .nav-link {
    white-space: nowrap;
    font-size: 16px;
  }
}

.popup {
  position: fixed;
  width: 400px;
  background-color: #fff;
  padding: 24px;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  z-index: 5;
}

.popup p {
  margin: 0;
  text-align: center;
}

.modal-content {
  border: 0;
  border-radius: 0;
}

.modal-header {
  border: 0;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-header .btn-close {
  padding: 0;
  width: 24px;
  height: 24px;
  background: none;
}

.modal-header .btn-close span {
  font-size: 24px;
}

.modal-body {
  padding: 0 40px 40px;
}

.modal-dialog {
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .modal-body {
    padding: 0 15px 40px;
  }
}

.about-concept {
  position: relative;
  z-index: 0;
}

.about-concept .container {
  max-width: 1600px;
}

.about-concept-bg {
  position: absolute;
  width: 70%;
  height: calc((100% - 214px) * 0.84);
  background-color: #425f4c;
  z-index: -1;
  top: 214px;
  right: 0;
}

.about-concept-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 88px;
  position: relative;
}

.about-concept-logo {
  position: absolute;
  width: 18%;
  top: 42%;
  right: 2%;
}

.about-concept-pic {
  width: 45%;
}

.about-concept-pic img {
  width: 100%;
}

.about-concept-text {
  width: 55%;
  padding-left: 116px;
}

.about-concept-text p {
  font-size: 15px;
  margin: 0;
  color: #fff;
  font-weight: 100;
  line-height: 2;
}

.about-concept-title {
  margin-bottom: 112px;
}

.about-concept-title__ch {
  color: #425f4c;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 44px;
}

.about-concept-title__en {
  font-family: "Rowdies", sans-serif;
  font-size: 72px;
  color: #c8d286;
  margin-bottom: 88px;
}

.about-concept-title__slogan {
  font-family: "Rowdies", sans-serif;
  font-size: 72px;
  color: #fff;
  margin-bottom: 80px;
  margin-left: -290px;
}

.about-concept-bigpic {
  width: 88%;
}

.about-concept-subtitle {
  font-weight: 100;
  color: #c8d286;
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 1.6;
  margin: 0;
}

.about-concept-intro {
  width: 70%;
}

.about-concept-intro .about-concept-subtitle {
  margin-bottom: 32px;
}

.about-concept-intro hr {
  border-top: 0.5px solid #fff;
  opacity: 1;
  margin: 20px 0;
}

.about-concept-feature {
  margin-bottom: 28px;
}

@media screen and (max-width: 991px) {
  .about-concept {
    background-color: #425f4c;
  }
  .about-concept-bg {
    display: none;
  }
  .about-concept-wrapper {
    margin-bottom: 44px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
  .about-concept-logo {
    position: absolute;
    width: 18%;
    top: 3%;
    right: 2%;
  }
  .about-concept-pic {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about-concept-text {
    width: 100%;
    padding: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-concept-title {
    margin-bottom: 52px;
  }
  .about-concept-title__ch {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .about-concept-title__en {
    font-size: 40px;
    margin-bottom: 32px;
  }
  .about-concept-title__slogan {
    font-size: 40px;
    margin-bottom: 24px;
    margin-left: 0;
  }
  .about-concept-bigpic {
    width: 100%;
  }
  .about-concept-subtitle {
    font-size: 20px;
  }
  .about-concept-intro {
    width: 100%;
  }
  .about-concept-intro .about-concept-subtitle {
    margin-bottom: 16px;
  }
  .about-concept-intro hr {
    margin: 12px 0;
  }
  .about-concept-feature {
    margin-bottom: 12px;
  }
}
/*# sourceMappingURL=style.css.map */