.check-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px 12px;
    background-color: $primary-800;
    border-radius: 100px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: fit-content;
    &_box {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        border: 1px solid $primary-500;
        display: flex;
        align-items: center;
        justify-content: center;
        >img {
            width: 80%;
            opacity: 0;
        }
    }
    &_text {
        font-size: 14px;
        font-weight: 700;
        margin: 0;
        transition: $transition;
    }
    &.active {
        background-color: $primary-500;
        box-shadow: none;
        .check-item {
            &_text {
                color: $white;
            }
            &_box {
                img {
                    opacity: 1;
                }
            }
        }
    }
}