.name-tag {
    display: flex;
    align-items: center;
    gap: 4px;
    &_pic {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &_name {
        margin: 0;
        font-size: 12px;
        font-weight: 700;
    }

}