@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

$text: #333333;
$white: #fff;
$brown: #CA9969;
$brown-2: #9C5C1C;
$primary-50:#FFFAF6;
$primary-100:#FFF1E3;
$primary-200:#FDDFC1;
$primary-300:#E5C099;
$primary-400:$brown;
$primary-500:#B47D46;
$primary-600:#9E6023;
$primary-700:#85490D;
$primary-800:#763B00;
$primary-900:#4A2500;
$dark-50:#F0F0F0;
$dark-100:#DEDEDE;
$dark-200:#C5C5C5;
$dark-300:#ADADAD;
$dark-400:#919191;
$dark-500:#707070;
$dark-600:#515151;
$dark-700:$text;
$dark-800:#202020;
$dark-900:#000000;
$transition: 0.3s;
$body-md: 16px;
$body-lg: 18px;
$serif-md: 700 16px "noto serif TC";
$num-md: 700 20px "Titillium Web", sans-serif;
$body-bold-lg: 700 18px "noto serif TC";
$shadow-common: 0 4px 15px rgba(0,0,0,0.15);
$font-sans: "noto sans TC";
$font-serif: "noto serif TC";
$font-titillium: "Titillium Web", sans-serif;

.step {
    padding: 50px 20px 110px;
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 54px;
        &.active {
            .step {
                &_icon {
                    background-color: $primary-500;
                    >span {
                        &::before {
                            color: $white;
                        }
                    }
                }
                &_text {
                    color: $primary-600;
                }
            }
        }
        &::after {
            position: absolute;
            content: "";
            width: calc((800px - 216px) / 3);
            height: 1px;
            background-color: $primary-400;
            left: 100%;
            top: 27px;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
    &_icon {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $primary-500;
        >span {
            font-size: 26px;
            &::before {
                color: $primary-600;
            }
        }
    }
    &_text {
        position: absolute;
        white-space: nowrap;
        font-family: $font-serif;
        font-weight: 900;
        margin: 0;
        top: calc(100% + 8px);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    @media screen and (max-width: 840px) {
        &_item {
            &::after {
                width: calc((100vw - 40px - 216px) / 3);
            }
        }
    }
    @media screen and (max-width: 575px) {
        &_text {
            font-size: 14px;
        }
    }
}