.pagination {
    margin: 80px auto 0;
    display: flex;
    gap: 10px;
    width: fit-content;
    border-top: 1px solid $primary-400;
    border-bottom: 1px solid $primary-400;
    a {
        width: 40px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-family: $font-serif;
        font-weight: 700;
        color: $primary-600;
        &.active {
            background-color: $primary-400;
            color: $white;
        }
        &:hover {
            opacity: 0.6;
        }
    }
    >ul {
        display: flex;
    }
    &_arrow {
        span {
            font-size: 16px;
            &::before {
                color: $primary-600;
            }
        }
    }
}