.product-detail {
    .container {
        >.row {
            margin-left: -25px;
            margin-right: -25px;
            >div {
                padding-left: 25px;
                padding-right: 25px;
            }
        }
    }
    &_pic {
        >img {
            width: 100%;
        }
    }
    &_title {
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 30px;
    }
    .name-tag {
        margin-bottom: 30px;
    }
    &_order {
        padding: 15px 0;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        margin-bottom: 20px;
        .row {
            margin: 0;
            >div {
                padding: 0 20px;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 36px;
                    background-color: $primary-300;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
        &_title {
            font-size: 14px;
            margin-bottom: 4px;
            font-weight: 700;
        }
        &_num {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &_price {
            color: $primary-600;
            font-size: 20px;
            font-weight: 700;
            margin: 0;
        }
        &_text {
            color: $gray-500;
            font-size: 12px;
            margin: 0;
            font-weight: 700;
        }
    }
    &_intro {
        margin-bottom: 30px;
        text-align: justify;
    }
    &_btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @media screen and (max-width: 1199px) {
        &_order {
            padding: 0 20px;
            .row {
                >div {
                    border-bottom: 1px solid $primary-300;
                    padding: 20px 0;
                    &::after {
                        display: none;
                    }
                    &:last-child {
                        border: 0;
                    }
                }   
            }
        }
        &_btns {
            flex-direction: column;
            gap: 20px;
            align-items: flex-end;
        }
    }
    @media screen and (max-width: 991px) {
        &_text {
            padding-top: 40px;
        }
    }
}

.name-tag {
    display: flex;
    align-items: center;
    gap: 4px;
    &_pic {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &_name {
        margin: 0;
        font-size: 12px;
        font-weight: 700;
    }

}

.product-num {
    display: flex;
    align-items: center;
    button {
        width: 25px;
        height: 25px;
        border: 1px solid $primary-500;
        display: flex;
        align-items: center;
        justify-content: center;
        >span {
            font-size: 16px;
            &::before {
                color: $primary-600;
                transition: $transition;
            }
        }
        &:hover {
            background-color: $primary-500;
            >span {
                &::before {
                    color: $white;
                }
            }
        }
    }
    >p {
        margin: 0;
        width: 40px;
        text-align: center;
        font-weight: 600;
    }
}