@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wvlu8e');
  src:  url('fonts/icomoon.eot?wvlu8e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wvlu8e') format('truetype'),
    url('fonts/icomoon.woff?wvlu8e') format('woff'),
    url('fonts/icomoon.svg?wvlu8e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aethetic:before {
  content: "\e900";
  color: #9e6023;
}
.icon-arrow-left:before {
  content: "\e901";
  color: #ca9969;
}
.icon-arrow-right:before {
  content: "\e902";
  color: #9e6023;
}
.icon-calendar:before {
  content: "\e903";
  color: #ca9969;
}
.icon-chevron-down-1:before {
  content: "\e904";
  color: #ca9969;
}
.icon-chevron-down:before {
  content: "\e905";
  color: #ca9969;
}
.icon-chevron-left:before {
  content: "\e906";
  color: #9e6023;
}
.icon-chevron-right:before {
  content: "\e907";
  color: #9e6023;
}
.icon-cloud:before {
  content: "\e908";
  color: #9e6023;
}
.icon-download:before {
  content: "\e909";
  color: #9e6023;
}
.icon-edit:before {
  content: "\e90a";
  color: #ca9969;
}
.icon-friend:before {
  content: "\e90b";
  color: #9e6023;
}
.icon-layout:before {
  content: "\e90c";
  color: #ca9969;
}
.icon-link:before {
  content: "\e90d";
  color: #ca9969;
}
.icon-minus:before {
  content: "\e90e";
  color: #9e6023;
}
.icon-music:before {
  content: "\e90f";
  color: #9e6023;
}
.icon-place:before {
  content: "\e910";
  color: #ca9969;
}
.icon-play:before {
  content: "\e911";
  color: #fff;
}
.icon-plus:before {
  content: "\e912";
  color: #9e6023;
}
.icon-privacy:before {
  content: "\e913";
  color: #9e6023;
}
.icon-protect:before {
  content: "\e914";
  color: #9e6023;
}
.icon-purchase:before {
  content: "\e915";
  color: #9e6023;
}
.icon-qrcode:before {
  content: "\e916";
  color: #ca9969;
}
.icon-quote:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e918";
  color: #ca9969;
}
.icon-send-email:before {
  content: "\e919";
  color: #9e6023;
}
.icon-send:before {
  content: "\e91a";
  color: #9e6023;
}
.icon-share:before {
  content: "\e91b";
  color: #9e6023;
}
.icon-story:before {
  content: "\e91c";
  color: #ca9969;
}
.icon-upload:before {
  content: "\e91d";
  color: #fff;
}
.icon-user:before {
  content: "\e91e";
  color: #ca9969;
}
.icon-video:before {
  content: "\e91f";
  color: #9e6023;
}
.icon-website:before {
  content: "\e920";
  color: #ca9969;
}
.icon-x:before {
  content: "\e921";
  color: #9e6023;
}
