.contact {
  padding: 80px 0 200px;
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  &-title {
    width: 30%;
    padding-right: 20px;
    &__ch {
      color: $primary-900;
      margin-bottom: 12px;
      font-size: 64px;
      font-weight: 700;
    }
    &__en {
      color: $gray-600;
      margin: 0;
      font: $kanit-1;
    }
  }
  &-form {
    width: 70%;
    .row {
      margin-left: -20px;
      margin-right: -20px;
      > div {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .btn {
      background-color: $secondary-500;
      border-color: $secondary-500;
      margin-left: auto;
      &:hover {
        background-color: $primary-500;
        border-color: $primary-500;
      }
    }
  }
  @media screen and (max-width: 991px) {
    &-title {
      width: 100%;
      padding: 0 0 40px;
      &__ch {
        font-size: 48px;
      }
      &__en {
        font-size: 16px;
      }
    }
    &-form {
      width: 100%;
      .row {
        margin-left: -8px;
        margin-right: -8px;
        > div {
          padding-left: 8px;
          padding-right: 8px;
        }
      }
    }
  }
}
