.card {
    background-color: transparent;
    border: 0;
    >.row {
        margin-left: -15px;
        margin-right: -15px;
        >div {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    &-item {
        margin-bottom: 50px;
    }
    &_pic {
        position: relative;
        width: 100%;
        padding-bottom: 70%;
        box-shadow: 0 4px 15px rgba(0,0,0,0.2);
        margin-bottom: 15px;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
        .check-item {
            position: absolute;
            top: 8px;
            left: 8px;
        }
    }
    &_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        gap: 8px;
    }
    &_title {
        font-size: 20px;
        font-weight: 900;
        margin: 0;
    }
    &_price {
        color: $primary-500;
        font-weight: 700;
        margin: 0;
        font-size: 20px;
    }
    &_select {
        width: 100%;
        height: 40px;
        border: 1px solid $primary-400;
        padding: 0 12px;
        font-weight: 700;
        color: $gray-500;
        appearance: none;
        background-image: url(../img/arrow-block.svg);
        background-size: 40px;
        background-position: right center;
        background-repeat: no-repeat;
    }
    @media screen and (max-width: 575px) {
        &_title, &_price {
            font-size: 16px;
        }
    }
}