.pic-text {
  &__wrapper {
    display: flex;
    margin-bottom: 90px;
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(odd) {
      .pic-text {
        &-text {
          padding-left: 36px;
        }
        &-pic {
          &::after {
            left: 90%;
          }
          &::before {
            background: linear-gradient(to left, rgba(0, 47, 74, 0.7) 0%, transparent 100%);
          }
        }
      }
    }
    &:nth-child(even) {
      .pic-text {
        &-pic {
          order: 2;
          &::after {
            right: 90%;
          }
          &::before {
            background: linear-gradient(to right, rgba(0, 47, 74, 0.7) 0%, transparent 100%);
          }
        }
        &-text {
          order: 1;
          padding-right: 36px;
        }
      }
    }
  }
  &-pic {
    width: 36%;
    position: relative;
    > img {
      width: 100%;
      box-shadow: $shadow-pic;
    }
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &::after {
      position: absolute;
      content: "";
      width: 195px;
      height: 3px;
      background: $secondary-500;
      bottom: 40px;
    }
  }
  &-text {
    width: 64%;
    &__title {
      margin-bottom: 40px;
      font: $heading-2;
    }
    &__intro {
      margin: 0;
      line-height: 1.7;
      font: $body-2;
    }
  }
  @media screen and (max-width: 1299px) {
    &-pic {
      &::after {
        display: none;
      }
    }
  }
  @media screen and (max-width: 991px) {
    &__wrapper {
      flex-direction: column;
      margin-bottom: 45px;
      &:nth-child(even) {
        .pic-text {
          &-pic {
            order: 1;
          }
          &-text {
            order: 2;
          }
        }
      }
    }
    &-pic {
      width: 100%;
      &::before {
        background: linear-gradient(to top, rgba(0, 47, 74, 0.7) 0%, transparent 100%) !important;
      }
    }
    &-text {
      width: 100%;
      padding: 20px 0 0 !important;
      &__title {
        font-size: 28px;
        margin-bottom: 12px;
      }
      &__intro {
        font-size: 18px;
      }
    }
  }
}
