.calendar {
  padding: 40px 0 60px;
  &-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 12px;
    a {
      padding: 8px 18px;
      border-radius: 100px;
      color: $white;
      &.btn {
        &-orange {
          background-color: #ff8c5e;
        }
        &-red {
          background-color: #f25388;
        }
      }
    }
  }
  &-main {
    border: 2px solid $third-500;
    border-radius: 20px;
    overflow: hidden;
    background-color: #e5f8ff;
    padding-bottom: 10px;
    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 10px;
      background-color: #a6f8e9;
      button {
        padding: 0;
        background-color: $white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        img {
          width: 60%;
        }
      }
      h2 {
        font-size: 20px;
        margin: 0;
        font-weight: 500;
      }
    }
    &__week {
      padding: 10px 10px 0;
      display: flex;
      gap: 8px;
      &.week-name {
        .calendar-day {
          background-color: #afefff;
          text-align: center;
          padding: 10px 15px;
          h3 {
            color: #333;
            margin: 0;
            font-size: 20px;
            font-weight: 500;
          }
        }
      }
      &:not(.week-name) {
        .calendar-day {
          min-height: 150px;
        }
      }
    }
  }
  &-day {
    width: calc((100% - 48px) / 7);
    border-radius: 6px;
    background-color: $white;
    padding: 8px 12px;
    &__title {
      text-align: center;
      padding-bottom: 12px;
      border-bottom: 2px dotted #ccc;
      h4 {
        margin: 0;
        font-size: 18px;
        &.week {
          display: none;
        }
      }
    }
    &__content {
      padding: 8px 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
      p {
        margin: 0;
      }
      .time {
        display: flex;
        gap: 8px;
        span {
          font-size: 18px;
          display: block;
          margin-top: 6px;
          &::before {
            color: #1d927d;
          }
        }
        p {
          margin: 0;
          font-size: 18px;
          font-weight: 500;
          color: #1d927d;
        }
      }
      .event {
        text-decoration: underline;
        color: #fe5c1c;
        font-size: 20px;
      }
      .category {
        font-size: 12px;
        color: #188cb9;
        padding: 2px 8px;
        border-radius: 6px;
        border: 1px solid #ccc;
        width: fit-content;
      }
      .remain {
        p {
          font-weight: 500;
        }
        &__num {
          color: #f33171;
          font-weight: 700;
        }
      }
      button {
        margin-top: 8px;
        width: 100%;
        background-color: #f33171;
        padding: 6px 0;
        border-radius: 100px;
        color: $white;
      }
    }
    &.empty {
      background-color: rgba(0, 0, 0, 0.07);
    }
  }
  @media screen and (max-width: 991px) {
    &-main {
      &__week {
        flex-direction: column;
        &.week-name {
          display: none;
        }
      &:not(.week-name) {
        .calendar-day {
          min-height: 80px;
        }
      }
      }
    }
    &-day {
      width: 100%;
      display: flex;
      padding-left: 0;
      padding-right: 0;
      &.empty {
        display: none;
      }
      &__title {
        padding: 12px 0;
        width: 100px;
        border-bottom: 0;
        border-right: 2px dotted #ccc;
        h4 {
          &.week {
            display: block;
          }
        }
      }
      &__content {
        width: calc(100% - 100px);
        padding: 0 8px;
      }
    }
  }
}
