.timeline {
  padding: 116px 0;
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 0;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $white-30;
      z-index: -1;
    }
  }
  &-item {
    position: relative;
    &__num {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      border: 2px solid $secondary-500;
      font-size: 44px;
      font-family: $font-kanit;
      font-weight: 700;
      margin: 0;
      color: $secondary-500;
      border-radius: 50%;
    }
    &__wrapper {
      padding: 0 20px;
      background-color: $primary-900;
    }
    &__text {
      position: absolute;
      width: 400px;
      padding: 24px;
      border: 1px solid $white-30;
      left: 50%;
      transform: translateX(-50%);
      &.bigger {
        width: 500px;
      }
    }
    &__title {
      font: $heading-3;
      margin-bottom: 24px;
    }
    &__intro {
      font: $body-2;
      margin: 0;
    }
    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      left: 50%;
      transform: translateX(-50%);
    }
    &:nth-child(odd) {
      .timeline-item {
        &__text {
          top: calc(100% + 60px);
        }
      }
      &::after {
        background-image: url(../img/arrow-down.svg);
        top: calc(100% + 20px);
      }
    }
    &:nth-child(even) {
      .timeline-item {
        &__text {
          bottom: calc(100% + 60px);
        }
      }
      &::after {
        background-image: url(../img/arrow-up.svg);
        bottom: calc(100% + 20px);
      }
    }
  }
  @media screen and (max-width: 1700px) {
    .container {
      max-width: inherit;
      padding-left: 150px;
      padding-right: 150px;
    }
    &-item {
      &__text {
        width: calc((100vw - 300px) * 0.3) !important;
      }
      &__title {
        font-size: 24px;
        margin-bottom: 12px;
      }
      &__intro {
        font-size: 16px;
      }
    }
  }
  @media screen and (max-width: 1199px) {
    .container {
      padding-left: 40px;
      padding-right: 40px;
    }
    &-content {
      flex-direction: column;
      &::after {
        display: none;
      }
    }
    &-item {
      width: 100%;
      margin-bottom: 20px;
      &__wrapper {
        display: flex;
        gap: 60px;
        padding: 0 !important;
        background-color: transparent;
      }
      &__text {
        position: static;
        transform: none;
        width: calc(100% - 80px - 60px) !important;
      }
      &::after {
        top: 40px !important;
        bottom: inherit !important;
        left: 100px;
      }
      &:nth-child(odd) {
        &::after {
          transform: translateY(-50%) rotate(-90deg);
        }
      }
      &:nth-child(even) {
        &::after {
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
    &-item {
      &__wrapper {
        gap: 40px;
      }
      &__num {
        width: 40px;
        height: 40px;
        font-size: 24px;
      }
      &__text {
        width: calc(100% - 80px) !important;
        padding: 16px;
      }
      &__title {
        font-size: 20px;
      }
      &::after {
        width: 16px;
        height: 16px;
        top: 20px !important;
        left: 52px;
      }
    }
  }
}
