@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Rowdies:wght@300;400;700&display=swap");
body {
  color: #242424;
  font-family: "Noto Sans TC", sans-serif;
  height: 1000px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
select,
textarea,
button {
  outline: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/select-arrow.svg);
  background-size: 18px;
  background-position: calc(100% - 14px) center;
  background-repeat: no-repeat;
}

main {
  overflow: hidden;
  min-height: calc(100vh - 61px);
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 0;
  }
}

p {
  margin: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #242424;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #008fff;
}

a:hover [class^="icon-"]::before, a:hover [class*=" icon-"]::before {
  color: #008fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  border: 1px solid #1dadff;
  padding: 8px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  border-radius: 0;
}

.btn-text {
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0;
}

.btn-icon {
  font-size: 16px;
}

.btn-icon::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-border {
  background-color: transparent;
  color: #1dadff;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-border .btn-text {
  color: #1dadff;
  font-weight: 700;
}

.btn-border .btn-icon::before {
  color: #008fff;
}

.btn-border:hover {
  border-color: #007bff;
  color: #007bff;
}

.btn-border:hover .btn-text {
  color: #007bff;
}

.btn-border:hover .btn-icon::before {
  color: #007bff;
}

.btn-border-onlyicon {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.btn-border-onlyicon .btn-icon {
  font-size: 32px;
}

.btn-border-onlyicon:hover .btn-icon::before {
  color: #fff;
}

.btn-fill {
  background-color: #1dadff;
  color: #fff;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-fill .btn-text {
  color: #fff;
  font-weight: 700;
}

.btn-fill .btn-icon::before {
  color: #fff;
}

.btn-fill:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.btn-fill-light {
  padding: 8px 36px;
  background-color: #98B8E8;
  border-color: #98B8E8;
}

.btn-fill-light .btn-icon::before {
  color: #007bff;
}

.btn-fill-light .btn-text {
  color: #007bff;
}

.btn-fill-light:hover {
  background-color: #009eff;
  border-color: #009eff;
}

.btn-fill-light:hover .btn-icon::before {
  color: #fff;
}

.btn-fill-light:hover .btn-text {
  color: #fff;
}

.btn-alert {
  width: 52px;
  height: 32px;
  font-size: 14px;
  font-weight: 700;
  padding: 0;
}

.btn-alert:hover {
  color: #fff;
}

.title {
  font-size: 46px;
  font-weight: 900;
  margin-bottom: 36px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .title {
    font-size: 36px;
  }
}

.text {
  font-size: 16px;
}

.input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  margin-bottom: 20px;
}

.input-item > label {
  padding: 8px;
  background-color: #009eff;
  color: #fff;
  font-weight: 900;
  text-align: center;
  display: block;
  height: 100%;
  letter-spacing: 0.05em;
  border: 1px solid #009eff;
}

.input-item > label.bg-transparent {
  border: 0;
  color: #242424;
}

.input-item > input {
  height: 100%;
  padding: 0 10px;
  border: 1px solid #009eff;
}

.input-item.radio .radio-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
  padding: 8px 20px;
}

.input-item.radio .radio-item {
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4px;
}

.input-item.radio .radio-item > input {
  width: 16px;
  height: 16px;
  position: relative;
}

.input-item.radio .radio-item > input::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #009eff;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.input-item.radio .radio-item > input::after {
  position: absolute;
  content: "";
  width: 60%;
  height: 60%;
  background-color: #009eff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
}

.input-item.radio .radio-item > input:checked::after {
  opacity: 1;
}

.input-item.radio .radio-item > label {
  font-size: 16px;
  font-weight: 900;
}

.nav {
  gap: 32px;
}

.nav-link {
  padding: 0 0 6px;
  border-radius: 0;
  font-weight: 900;
  color: #242424 !important;
  font-size: 18px;
  border-bottom: 2px solid transparent;
}

.nav-link.active {
  background-color: transparent !important;
  color: #008fff !important;
  border-color: #008fff;
}

@media screen and (max-width: 575px) {
  .nav {
    width: 100%;
    overflow-x: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 16px;
    margin-bottom: 20px;
  }
  .nav-link {
    white-space: nowrap;
    font-size: 16px;
  }
}

.popup {
  position: fixed;
  width: 400px;
  background-color: #fff;
  padding: 24px;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  z-index: 5;
}

.popup p {
  margin: 0;
  text-align: center;
}

.modal-content {
  border: 0;
  border-radius: 0;
}

.modal-header {
  border: 0;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-header .btn-close {
  padding: 0;
  width: 24px;
  height: 24px;
  background: none;
}

.modal-header .btn-close span {
  font-size: 24px;
}

.modal-body {
  padding: 0 40px 40px;
}

.modal-dialog {
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .modal-body {
    padding: 0 15px 40px;
  }
}

.step {
  padding: 50px 20px 110px;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.step_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 60px;
  z-index: 0;
}

.step_item.active .step_num {
  background-color: #007bff;
  border-color: #007bff;
}

.step_item.active .step_num p {
  color: #fff;
}

.step_item.active .step_num::before {
  opacity: 1;
}

.step_item.active .step_text {
  color: #007bff;
  font-weight: 700;
}

.step_item::before {
  position: absolute;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-radius: 50%;
  background-color: rgba(0, 123, 255, 0.6);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
}

.step_item::after {
  position: absolute;
  content: "";
  width: calc((640px - 180px - 120px) / 2);
  height: 1px;
  background-color: #A2A2A2;
  left: calc(100% + 20px);
  top: 30px;
}

.step_item:last-child::after {
  display: none;
}

.step_num {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #B7B7B7;
}

.step_num > p {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
  color: #6B6B6B;
}

.step_text {
  position: absolute;
  white-space: nowrap;
  margin: 0;
  top: calc(100% + 24px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  font-size: 24px;
  color: #6B6B6B;
}

@media screen and (max-width: 640px) {
  .step_item::after {
    width: calc((100vw - 180px - 80px) / 2);
    left: calc(100% + 10px);
  }
}

@media screen and (max-width: 575px) {
  .step_text {
    font-size: 18px;
    top: calc(100% + 16px);
  }
}
/*# sourceMappingURL=style.css.map */