$banner-ratio: 56%;
$banner-ratio-mobile: 120%;

.banner {
  position: relative;
  width: 100%;
  padding-bottom: $banner-ratio;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
  &-text {
    position: absolute;
    top: 16vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 20px;
    text-align: center;
    color: $white;
    &__title {
      font-size: 80px;
      font-weight: 700;
      margin-bottom: 28px;
    }
    &__description {
      font-size: 24px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      position: relative;
      padding: 4px 32px;
      z-index: 0;
      width: fit-content;
      margin: 0 auto;
      &::before {
        position: absolute;
        content: "";
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        border: 1px solid $secondary-500;
        width: 0;
        background-color: $secondary-500;
        animation: subtitle-1 1s ease-in-out forwards;
        transform: skewX(-25deg);
      }
    }
  }
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    padding-bottom: 15%;
    background: linear-gradient(to bottom, transparent 0%, #002F4A 100%);
    left: 0;
    bottom: 0;
    z-index: 1;
  }
  @media screen and (max-width: 991px) {
    padding-bottom: $banner-ratio-mobile;
    &-text {
      top: 32vw;
      width: 100%;
    }
  }
  @media screen and (max-width: 575px) {
    &-text {
      &__title {
        font-size: 40px;
      }
      &__description {
        font-size: 16px;
        padding: 4px 20px;
      }
    }
  }
}

@keyframes subtitle-1 {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
