<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>title</title>
    <meta property="og:image" content="./public/img/share.jpg" />
    <meta property="og:url" content="./public/img/share.jpg" />
    <meta property="og:image" content="./public/img/share.jpg" />
    <meta property="og:url" content="./public/img/share.jpg" />
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./public/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="./public/icomoon/style.css" />
    <link rel="stylesheet" href="./public/css/style.css" />
  </head>
  <body>
    <main>
      <div class="product-num">
        <button class="btn-minus"><span class="icon-minus"></span></button>
        <p class="product-num_val">1</p>
        <button class="btn-plus"><span class="icon-plus"></span></button>
      </div>
    </main>

    <script src="./public/js/jquery/jquery.min.js"></script>
    <script src="./public/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="./public/js/common.js"></script>
    <script src="./public/js/product-num.js"></script>
  </body>
</html>
