.step {
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1080px;
    gap: 120px 80px;
    text-align: center;
  }
  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60px;
    z-index: 0;
    width: calc((100% - 240px) / 4);
    &::after {
      position: absolute;
      content: "";
      width: 32px;
      height: 34px;
      background-image: url(../img/triangle.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      top: 50%;
      right: -56px;
      transform: translateY(-50%);
    }
    &:nth-child(4n),
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  &_num {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
  }
  &_icon {
    font-size: 132px;
    display: block;
    margin-bottom: 24px;
  }
  &_text {
    font-size: 28px;
    font-weight: 700;
  }
  @media screen and (max-width: 1199px) {
    .container {
      gap: 60px 40px;
    }
    &_item {
      width: calc((100% - 80px) / 3);
      &::after {
        position: absolute;
        content: "";
        width: 24px;
        height: 26px;
        right: -32px;
      }
      &:nth-child(4n) {
        &::after {
          display: block;
        }
      }
      &:nth-child(3n) {
        &::after {
          display: none;
        }
      }
    }
    &_num {
      margin-bottom: 20px;
      font-size: 24px;
    }
    &_icon {
      font-size: 100px;
      margin-bottom: 12px;
    }
    &_text {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 575px) {
    .container {
      gap: 32px 20px;
    }
    &_item {
      width: calc((100% - 20px) / 2);
      &:nth-child(3n) {
        &::after {
          display: block;
        }
      }
      &:nth-child(2n) {
        &::after {
          display: none;
        }
      }
      &::after {
        width: 16px;
        height: 17px;
        right: -18px;
      }
      &:nth-child(2n + 1) {
        &::before {
          position: absolute;
          content: "";
          width: 16px;
          height: 17px;
          background-image: url(../img/triangle.svg);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
      &:first-child {
        &::before {
          display: none;
        }
      }
    }
    &_num {
      margin-bottom: 12px;
      font-size: 20px;
    }
    &_icon {
      font-size: 80px;
      margin-bottom: 8px;
    }
    &_text {
      font-size: 18px;
    }
  }
}
