.product-num {
    display: flex;
    align-items: center;
    button {
        width: 25px;
        height: 25px;
        border: 1px solid $primary-500;
        display: flex;
        align-items: center;
        justify-content: center;
        >span {
            font-size: 16px;
            &::before {
                color: $primary-600;
                transition: $transition;
            }
        }
        &:hover {
            background-color: $primary-500;
            >span {
                &::before {
                    color: $white;
                }
            }
        }
    }
    >p {
        margin: 0;
        width: 40px;
        text-align: center;
        font-weight: 600;
    }
}