.gallery {
    padding: 60px 0;
    &-swiper {
        overflow: hidden;
    }
    &-item {
        width: 100%;
        padding-bottom: 60%;
        position: relative;
        transition: $transition;
        filter: grayscale(1);
        opacity: 0.5;
        >img {
            position: absolute;
            object-fit: contain;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }
    @media screen and (max-width: 575px) {
        &_item {
            width: 33.3333%;
        }
    }
}