.cards {
  padding: 80px 0;
  .container {
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
  }
  &-item {
    width: calc((100% - 144px) / 4);
    display: flex;
    align-items: center;
    padding: 16px 40px 16px 16px;
    border-radius: 300px;
    border: 1px solid $gray-400;
    &__pic {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      position: relative;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
      overflow: hidden;
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
      }
    }
    &__text {
      width: calc(100% - 120px);
      padding-left: 28px;
    }
    &__title {
      font: $heading-4;
      margin-bottom: 4px;
      color: $gray-950;
    }
    &__description {
      font: $kanit-1;
      margin: 0;
      color: $gray-700;
    }
    &:hover {
      background-color: $primary-50;
      .cards-item {
        &__title {
          color: $primary-700;
        }
        &__description {
          color: $primary-700;
        }
      }
    }
  }
  @media screen and (max-width: 1500px) {
    .container {
      gap: 32px;
    }
    &-item {
      width: calc((100% - 64px) / 3);
    }
  }
  @media screen and (max-width: 1199px) {
    &-item {
      width: calc((100% - 32px) / 2);
    }
  }
  @media screen and (max-width: 767px) {
    .container {
      gap: 20px;
    }
    &-item {
      width: 100%;
      padding: 12px 20px 12px 12px;
      &__pic {
        width: 80px;
        height: 80px;
      }
      &__text {
        width: calc(100% - 80px);
        padding-left: 16px;
      }
      &__title {
        font-size: 20px;
      }
      &__description {
        font-size: 16px;
      }
    }
  }
}
