.cards {
  padding: 100px 0;
  .row {
    margin: 0;
    > div {
      padding: 0;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    padding: 32px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    &__pic {
      width: 200px;
      padding-bottom: calc(200px * 0.75);
      position: relative;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
      overflow: hidden;
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
      }
    }
    &__text {
      width: calc(100% - 200px);
      padding-left: 24px;
    }
    &__title {
      font: $heading-4;
      margin-bottom: 12px;
      transition: $transition;
    }
    &__description {
      font: $body-3;
      margin-bottom: 24px;
      color: rgba(255, 255, 255, 0.6);
      transition: $transition;
    }
    &-more {
      display: flex;
      justify-content: flex-end;
      position: relative;
      z-index: 0;
      &__wrapper {
        display: flex;
        align-items: center;
        width: fit-content;
        background-color: $primary-900;
        gap: 8px;
        padding-left: 12px;
        transition: $transition;
        p {
          font: $kanit-4;
          margin: 0;
          transition: $transition;
        }
        span {
          font-size: 14px;
          &::before {
            transition: $transition;
          }
        }
      }
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: $white-15;
        left: 0;
        top: 50%;
        z-index: -1;
      }
    }
    &:hover {
      background-color: $primary-800;
      .cards-item {
        &-more {
          &__wrapper {
            background-color: $primary-800;
            p {
              color: $primary-200;
            }
            span {
              &::before {
                color: $primary-200;
              }
            }
          }
        }
        &__title, &__description {
          color: $primary-200;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    &-item {
      padding: 12px;
      align-items: flex-start;
      &__pic {
        width: 80px;
        padding-bottom: calc(80px * 0.75);
      }
      &__text {
        width: calc(100% - 80px);
        padding-left: 16px;
      }
      &__title {
        font-size: 18px;
        margin-bottom: 4px;
      }
      &__description {
        font-size: 14px;
        margin-bottom: 4px;
      }
      &-more {
        &__wrapper {
          p, span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
