@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1ljj6o');
  src:  url('fonts/icomoon.eot?1ljj6o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1ljj6o') format('truetype'),
    url('fonts/icomoon.woff?1ljj6o') format('woff'),
    url('fonts/icomoon.svg?1ljj6o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-business-card:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e902";
}
.icon-cross:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-group:before {
  content: "\e905";
}
.icon-line:before {
  content: "\e906";
}
.icon-place:before {
  content: "\e907";
}
.icon-printer:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-x:before {
  content: "\e90a";
}
