.only-text {
  padding: 120px 0;
  &__title {
    padding-left: 73px;
    font: $heading-2;
    margin-bottom: 28px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 49px;
      height: 3px;
      background-color: $secondary-500;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  .row {
    margin-left: -30px;
    margin-right: -30px;
    >div {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  &-wrapper {
    &__title {
      position: relative;
      margin-bottom: 20px;
      z-index: 0;
      span {
        display: block;
        padding-right: 12px;
        background-color: $primary-900;
        font: $heading-4;
        width: fit-content;
      }
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: $white-15;
        z-index: -1;
        left: 0;
        top: 50%;
      }
    }
    &__text {
      margin: 0;
      font: $body-2;
      color: rgba(255,255,255,0.8);
      text-align: justify;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 60px 0;
      &__title {
        margin-bottom: 0;
      }
    &-wrapper {
      padding: 20px 0;
      &__text {
        font-size: 18px;
      }
    }
  }
}
