.event-detail {
  &-main {
    padding: 35px 30px 80px;
    border-radius: 20px;
    border: 2px solid #00a393;
  }
  &-head {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 24px;
    align-items: flex-start;
  }
  &-title {
    h1 {
      font-weight: 500;
      color: #ff6f00;
      font-size: 40px;
      margin-bottom: 8px;
    }
    h2 {
      font-weight: 500;
      font-size: 34px;
      margin-bottom: 12px;
    }
    .category {
      padding: 3px 6px;
      color: #188cb9;
      width: fit-content;
      border-radius: 6px;
      border: 1px solid #188cb9;
      font-size: 14px;
    }
  }
  &-share {
    display: flex;
    gap: 10px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      span {
        font-size: 18px;
        &::before {
          color: $white;
        }
      }
      &.print {
        background-color: #2dbdbd;
      }
      &.fb {
        background-color: #3488ff;
      }
      &.line {
        background-color: #0bc701;
      }
      &.x {
        background-color: #222;
      }
    }
  }
  &-content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
  }
  &-intro {
    width: calc(100% - 300px - 40px);
  }
  &-info {
    background-color: #e6faff;
    border-radius: 20px;
    padding: 24px 32px;
    margin-bottom: 40px;
    &-item {
      margin-bottom: 24px;
      &__title {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 8px;
        span {
          font-size: 24px;
          &::before {
            color: #6caad6;
          }
        }
        h3 {
          margin: 0;
          color: #436371;
          font-weight: 500;
          font-size: 20px;
        }
      }
      > p {
        padding-left: 36px;
        font-size: 20px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-pic {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    .pic-wrap {
      border-radius: 10px;
      border: 1px solid #ddd;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
      }
      &__icon {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 1px solid #ddd;
        background-color: rgba(255, 255, 255, 0.15);
        top: 10px;
        right: 10px;
      }
    }
  }
  &-apply {
    width: 300px;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid #f5cdaf;
    &-item {
      margin-bottom: 24px;
      &__wrapper {
        padding-left: 36px;
      }
    }
    &-title {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 12px;
      span {
        font-size: 24px;
        &::before {
          color: #6caad6;
        }
      }
      h3 {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        color: #436371;
      }
    }
    button {
      width: 90%;
      margin: 0 auto;
      border-radius: 100px;
      background-color: #00a5bb;
      color: $white;
      padding: 8px 18px;
      display: block;
    }
  }
  @media screen and (max-width: 991px) {
    &-main {
      padding: 24px 24px 40px;
    }
    &-head {
      flex-direction: column;
      gap: 16px;
      margin-bottom: 40px;
    }
    &-title {
      h1 {
        font-size: 32px;
      }
      h2 {
        font-size: 24px;
      }
      .category {
        font-size: 12px;
        margin: 0;
      }
    }
    &-content {
      flex-direction: column;
    }
    &-intro {
      width: 100%;
    }
    &-info {
      padding: 20px;
      &-item {
        > p {
          padding-left: 0;
        }
      }
    }
  &-apply {
    width: 100%;
    padding: 20px;
    &-item {
      &__wrapper {
        padding-left: 0;
      }
    }
    &-title {
      gap: 8px;
      span {
        font-size: 20px;
      }
      h3 {
        font-size: 18px;
      }
    }
  }
  }
}

.apply-duration {
  background-color: #fff7e6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px 12px;
  gap: 24px;
  &__item {
    text-align: center;
    p {
      margin: 0;
      white-space: nowrap;
      &.year,
      &.time {
        font-size: 18px;
      }
      &.date {
        font-size: 22px;
      }
    }
  }
  &__line {
    width: 100%;
    height: 1px;
    background-color: #999;
  }
}

.apply-num {
  border-radius: 10px;
  border: 1px solid #ccc;
  &__item {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    h4 {
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      color: #333;
    }
    p {
      display: flex;
      align-items: flex-end;
      margin: 0;
      font-weight: 500;
      .highlight {
        font-weight: 500;
        font-size: 32px;
        color: #f77272;
        margin-right: 4px;
        line-height: 1;
      }
    }
    &:last-child {
      border: 0;
    }
  }
}
