.event-detail {
  &-main {
    padding: 35px 30px;
    border-radius: 20px;
    border: 2px solid #00A393;
  }
  &-head {
    display: flex;
    justify-content: space-between;
  }
  &-title {
    h1 {
      font-weight: 500;
      color: #ff6f00;
      font-size: 40px;
      margin-bottom: 8px;
    }
    h2 {
      font-weight: 500;
      font-size: 36px;
      margin-bottom: 8px;
    }
  }
}