@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+TC:wght@100..900&display=swap");
body {
  color: #2C2C2C;
  font-family: "noto sans TC", sans-serif;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
select,
textarea,
button {
  outline: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: #2C2C2C;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

input::placeholder, textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/select-arrow.svg);
  background-size: 18px;
  background-position: calc(100% - 14px) center;
  background-repeat: no-repeat;
}

main {
  overflow: hidden;
  min-height: calc(100vh - 61px);
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #2C2C2C;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #e64c4c;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn {
  border: 1px solid #c63333;
  padding: 16px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  border-radius: 0;
}

.btn-text {
  font: 400 20px "noto sans TC", sans-serif;
  font-family: "noto sans TC";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0;
}

.btn-icon {
  font-size: 24px;
}

.btn-icon::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-border {
  background-color: transparent;
  color: #ff8a76;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-border .btn-text {
  color: #ff8a76;
  font-weight: 700;
}

.btn-border .btn-icon::before {
  color: #e64c4c;
}

.btn-border:hover {
  border-color: #c63333;
  color: #c63333;
}

.btn-border:hover .btn-text {
  color: #c63333;
}

.btn-border:hover .btn-icon::before {
  color: #c63333;
}

.btn-border-onlyicon {
  width: 40px;
  height: 40px;
  border: 1px solid #ffd0cf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.btn-border-onlyicon .btn-icon {
  font-size: 32px;
  color: #ffd0cf;
}

.btn-border-onlyicon:hover {
  background-color: #ffd0cf;
}

.btn-border-onlyicon:hover .btn-icon::before {
  color: #fff;
}

.btn-fill {
  background-color: #c63333;
  color: #fff;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-fill .btn-text {
  color: #fff;
  font-weight: 700;
}

.btn-fill .btn-icon::before {
  color: #fff;
}

.btn-fill:hover {
  background-color: #f78069;
  color: #fff;
  border-color: #f78069;
}

.btn-fill-light {
  padding: 8px 36px;
  background-color: #ffd0cf;
  border-color: #ffd0cf;
}

.btn-fill-light .btn-icon::before {
  color: #c63333;
}

.btn-fill-light .btn-text {
  color: #c63333;
}

.btn-fill-light:hover {
  background-color: #f78069;
  border-color: #f78069;
}

.btn-fill-light:hover .btn-icon::before {
  color: #fff;
}

.btn-fill-light:hover .btn-text {
  color: #fff;
}

.btn-alert {
  width: 52px;
  height: 32px;
  border-color: #da0000;
  color: #da0000;
  font-size: 14px;
  font-weight: 700;
  padding: 0;
}

.btn-alert:hover {
  background-color: #da0000;
  color: #fff;
}

.title {
  font-size: 46px;
  font-weight: 900;
  margin-bottom: 36px;
  text-align: center;
  color: #ffd0cf;
}

@media screen and (max-width: 991px) {
  .title {
    font-size: 36px;
  }
}

.text {
  font-size: 16px;
}

.input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  margin-bottom: 20px;
}

.input-item > label {
  padding: 8px;
  background-color: #f78069;
  color: #fff;
  font-weight: 900;
  text-align: center;
  display: block;
  height: 100%;
  letter-spacing: 0.05em;
  border: 1px solid #f78069;
}

.input-item > label.bg-transparent {
  border: 0;
  color: #2C2C2C;
}

.input-item > input {
  height: 100%;
  padding: 0 10px;
  border: 1px solid #f78069;
}

.input-item.radio .radio-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
  padding: 8px 20px;
}

.input-item.radio .radio-item {
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4px;
}

.input-item.radio .radio-item > input {
  width: 16px;
  height: 16px;
  position: relative;
}

.input-item.radio .radio-item > input::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #f78069;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.input-item.radio .radio-item > input::after {
  position: absolute;
  content: "";
  width: 60%;
  height: 60%;
  background-color: #f78069;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
}

.input-item.radio .radio-item > input:checked::after {
  opacity: 1;
}

.input-item.radio .radio-item > label {
  font-size: 16px;
  font-weight: 900;
}

.nav {
  gap: 32px;
}

.nav-link {
  padding: 0 0 6px;
  border-radius: 0;
  font-weight: 900;
  color: #2C2C2C !important;
  font-size: 18px;
  border-bottom: 2px solid transparent;
}

.nav-link.active {
  background-color: transparent !important;
  color: #e64c4c !important;
  border-color: #e64c4c;
}

@media screen and (max-width: 575px) {
  .nav {
    width: 100%;
    overflow-x: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 16px;
    margin-bottom: 20px;
  }
  .nav-link {
    white-space: nowrap;
    font-size: 16px;
  }
}

.popup {
  position: fixed;
  width: 400px;
  background-color: #fff;
  padding: 24px;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  z-index: 5;
}

.popup p {
  margin: 0;
  text-align: center;
}

.modal-content {
  border: 0;
  border-radius: 0;
}

.modal-header {
  border: 0;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-header .btn-close {
  padding: 0;
  width: 24px;
  height: 24px;
  background: none;
}

.modal-header .btn-close span {
  font-size: 24px;
}

.modal-body {
  padding: 0 40px 40px;
}

.modal-dialog {
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .modal-body {
    padding: 0 15px 40px;
  }
}

.event-detail-main {
  padding: 35px 30px 80px;
  border-radius: 20px;
  border: 2px solid #00a393;
}

.event-detail-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  margin-bottom: 24px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.event-detail-title h1 {
  font-weight: 500;
  color: #ff6f00;
  font-size: 40px;
  margin-bottom: 8px;
}

.event-detail-title h2 {
  font-weight: 500;
  font-size: 34px;
  margin-bottom: 12px;
}

.event-detail-title .category {
  padding: 3px 6px;
  color: #188cb9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6px;
  border: 1px solid #188cb9;
  font-size: 14px;
}

.event-detail-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.event-detail-share a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.event-detail-share a span {
  font-size: 18px;
}

.event-detail-share a span::before {
  color: #fff;
}

.event-detail-share a.print {
  background-color: #2dbdbd;
}

.event-detail-share a.fb {
  background-color: #3488ff;
}

.event-detail-share a.line {
  background-color: #0bc701;
}

.event-detail-share a.x {
  background-color: #222;
}

.event-detail-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.event-detail-intro {
  width: calc(100% - 300px - 40px);
}

.event-detail-info {
  background-color: #e6faff;
  border-radius: 20px;
  padding: 24px 32px;
  margin-bottom: 40px;
}

.event-detail-info-item {
  margin-bottom: 24px;
}

.event-detail-info-item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.event-detail-info-item__title span {
  font-size: 24px;
}

.event-detail-info-item__title span::before {
  color: #6caad6;
}

.event-detail-info-item__title h3 {
  margin: 0;
  color: #436371;
  font-weight: 500;
  font-size: 20px;
}

.event-detail-info-item > p {
  padding-left: 36px;
  font-size: 20px;
}

.event-detail-info-item:last-child {
  margin-bottom: 0;
}

.event-detail-pic {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.event-detail-pic .pic-wrap {
  border-radius: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
  position: relative;
}

.event-detail-pic .pic-wrap img {
  width: 100%;
}

.event-detail-pic .pic-wrap__icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.15);
  top: 10px;
  right: 10px;
}

.event-detail-apply {
  width: 300px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid #f5cdaf;
}

.event-detail-apply-item {
  margin-bottom: 24px;
}

.event-detail-apply-item__wrapper {
  padding-left: 36px;
}

.event-detail-apply-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.event-detail-apply-title span {
  font-size: 24px;
}

.event-detail-apply-title span::before {
  color: #6caad6;
}

.event-detail-apply-title h3 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  color: #436371;
}

.event-detail-apply button {
  width: 90%;
  margin: 0 auto;
  border-radius: 100px;
  background-color: #00a5bb;
  color: #fff;
  padding: 8px 18px;
  display: block;
}

@media screen and (max-width: 991px) {
  .event-detail-main {
    padding: 24px 24px 40px;
  }
  .event-detail-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
  }
  .event-detail-title h1 {
    font-size: 32px;
  }
  .event-detail-title h2 {
    font-size: 24px;
  }
  .event-detail-title .category {
    font-size: 12px;
    margin: 0;
  }
  .event-detail-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .event-detail-intro {
    width: 100%;
  }
  .event-detail-info {
    padding: 20px;
  }
  .event-detail-info-item > p {
    padding-left: 0;
  }
  .event-detail-apply {
    width: 100%;
    padding: 20px;
  }
  .event-detail-apply-item__wrapper {
    padding-left: 0;
  }
  .event-detail-apply-title {
    gap: 8px;
  }
  .event-detail-apply-title span {
    font-size: 20px;
  }
  .event-detail-apply-title h3 {
    font-size: 18px;
  }
}

.apply-duration {
  background-color: #fff7e6;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 12px;
  gap: 24px;
}

.apply-duration__item {
  text-align: center;
}

.apply-duration__item p {
  margin: 0;
  white-space: nowrap;
}

.apply-duration__item p.year, .apply-duration__item p.time {
  font-size: 18px;
}

.apply-duration__item p.date {
  font-size: 22px;
}

.apply-duration__line {
  width: 100%;
  height: 1px;
  background-color: #999;
}

.apply-num {
  border-radius: 10px;
  border: 1px solid #ccc;
}

.apply-num__item {
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.apply-num__item h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: #333;
}

.apply-num__item p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
  font-weight: 500;
}

.apply-num__item p .highlight {
  font-weight: 500;
  font-size: 32px;
  color: #f77272;
  margin-right: 4px;
  line-height: 1;
}

.apply-num__item:last-child {
  border: 0;
}
/*# sourceMappingURL=style.css.map */