@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

$text: #333333;
$white: #fff;
$brown: #CA9969;
$brown-2: #9C5C1C;
$primary-50:#FFFAF6;
$primary-100:#FFF1E3;
$primary-200:#FDDFC1;
$primary-300:#E5C099;
$primary-400:$brown;
$primary-500:#B47D46;
$primary-600:#9E6023;
$primary-700:#85490D;
$primary-800:#763B00;
$primary-900:#4A2500;
$dark-50:#F0F0F0;
$dark-100:#DEDEDE;
$dark-200:#C5C5C5;
$dark-300:#ADADAD;
$dark-400:#919191;
$dark-500:#707070;
$dark-600:#515151;
$dark-700:$text;
$dark-800:#202020;
$dark-900:#000000;
$transition: 0.3s;
$body-md: 16px;
$body-lg: 18px;
$serif-md: 700 16px "noto serif TC";
$num-md: 700 20px "Titillium Web", sans-serif;
$body-bold-lg: 700 18px "noto serif TC";
$shadow-common: 0 4px 15px rgba(0,0,0,0.15);
$font-serif: "noto serif TC";
$font-titillium: "Titillium Web", sans-serif;

$header-height: 90px;
$header-height-mobile: 70px;
$nav-top-mobile: calc(100vh - 70px);

.header {
    height: $header-height;
    background-color: $white;
    z-index: 100;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    &__main {
        display: flex;
        align-items: center;
        gap: 50px;
        height: 100%;
    }
    &__logo {
        width: 125px;
    }
    &__nav {
        ul {
            display: flex;
            align-items: center;
            gap: 30px;
            a {
                font: $serif-md;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    background-color: $primary-600;
                    top: calc(100% + 12px);
                    left: 50%;
                    transition: $transition;
                    height: 0;
                }
                &.active, &:hover {
                    color: $primary-600;
                    &::after {
                        height: 46px;
                    }
                }
            }
        }
    }
    &__btn {
        padding: 8px 45px;
        background-color: $primary-400;
        color: $white;
        font-size: 16px;
        font-family: $font-serif;
        font-weight: 700;
        &:hover {
            background-color: $primary-600;
            color: $white;
        }
    }
    &__func {
        display: flex;
        align-items: center;
        gap: 28px;
        height: 100%;
    }
    &__menu {
        width: 30px;
        height: 30px;
        position: relative;
        .bar {
            position: absolute;
            width: 95%;
            height: 1px;
            background-color: $primary-600;
            transition: $transition;
            left: 50%;
            transform: translateX(-50%);
            &-top {
                top: 4px;
            }
            &-middle {
                top: calc(50% - 0.5px);
            }
            &-bottom {
                top: calc(100% - 5px);
            }
        }
        &.active {
            .bar {
                top: 50%;
                left: 50%;
                &-top, &-middle {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
                &-bottom {
                     transform: translate(-50%, -50%) rotate(45deg);
                }
            }
        }
    }
    &__lang {
        position: relative;
        height: 100%;
        .header-lang {
            height: 100%;
            &-active {
                display: flex;
                align-items: center;
                gap: 6px;
                height: 100%;
                &_globe {
                    font-size: 16px;
                }
                &_arrow {
                    font-size: 8px;
                    transition: $transition;
                }
                p {
                    margin: 0;
                }
            }
            &-list {
                position: absolute;
                width: 150px;
                background-color: $white;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
                top: 100%;
                left: 50%;
                transform: translate(-50%, 20px);
                opacity: 0;
                visibility: hidden;
                transition: $transition;
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 44px;
                }
            }
        }
        &.active {
            .header-lang {
                &-active {
                    &_arrow {
                        transform: rotate(180deg);
                    }
                }
                &-list {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(-50%);
                }
            }
        }
    }
    @media screen and (max-width: 1199px) {
        .container {
            max-width: inherit;
        }
    }
    @media screen and (max-width: 991px) {
        height: $header-height-mobile;
        &__nav {
            position: fixed;
            background-color: $white;
            height: $nav-top-mobile;
            top: $header-height-mobile;
            right: 0;
            max-width: 400px;
            width: 100%;
            transition: $transition;
            right: -450px;
            ul {
                display: block;
                a {
                    padding: 12px 40px;
                    &::after {
                        width: 0;
                        height: 1px;
                        top: 50%;
                        left: -40px;
                    }
                    &.active, &:hover {
                        &::after {
                            width: 60px;
                            height: 1px;
                        }
                    }
                }
            }
            &.active {
                right: 0;
            }
        }
        &__func {
            gap: 16px;
        }
        &__lang {
            .header-lang {
                &-active {
                    p {
                        display: none;
                    }
                    &_arrow {
                        display: none;
                    }
                    &_globe {
                        font-size: 24px;
                    }
                }
                &-list {
                width: 52px;
                background-color: transparent;
                box-shadow: none;
                    a {
                        width: 52px;
                        height: 52px;
                        border-radius: 50%;
                        background-color: $white;
                        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
                        margin-bottom: 12px;
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 575px) {
        &__logo {
            width: 110px;
        }
        &__btn {
            padding: 8px 20px;
        }
    }
}