.cards {
  padding: 80px 0 100px;
  .title {
    color: $white;
    text-align: left;
    padding-top: 30px;
  }
  .row {
    margin-left: -20px;
    margin-right: -20px;
    > div {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &-item {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    z-index: 0;
    margin-bottom: 60px;
    &__wrapper {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      > img {
        width: 200px;
        display: block;
        margin: 0 auto 12px;
      }
      > h3 {
        margin: 0;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
      }
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $white-15;
      border: 2px solid $white;
      @include product-bg();
      z-index: -1;
      top: 0;
      left: 0;
      transform: skewY(15deg);
      transition: 1s;
    }
    &:hover {
      .cards-item__wrapper {
        h3 {
          color: $white;
        }
      }
      &::after {
        background-color: $primary-800;
      }
    }
    &.animation {
      &::after {
        transform: skewY(-15deg);
      }
    }
  }
  @media screen and (max-width: 991px) {
    .title {
      padding: 0 0 32px;
      text-align: center;
    }
  }
  @media screen and (max-width: 767px) {
    .row {
      margin-left: -8px;
      margin-right: -8px;
      > div {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
    &-item {
        margin-bottom: 24px;
        &__wrapper {
            >img {
                width: 80px;
            }
            >h3 {
                font-size: 18px;
            }
        }
    }
  }
}
