@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5ykfhs');
  src:  url('fonts/icomoon.eot?5ykfhs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5ykfhs') format('truetype'),
    url('fonts/icomoon.woff?5ykfhs') format('woff'),
    url('fonts/icomoon.svg?5ykfhs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
  color: #fff;
}
.icon-address:before {
  content: "\e901";
  color: #fff;
}
.icon-arrow-right:before {
  content: "\e902";
  color: #fff;
}
.icon-arrow:before {
  content: "\e903";
  color: #a1d6f4;
}
.icon-download:before {
  content: "\e904";
  color: #fff;
}
.icon-fax:before {
  content: "\e905";
  color: #fff;
}
.icon-mail:before {
  content: "\e906";
  color: #fff;
}
.icon-phone:before {
  content: "\e907";
  color: #fff;
}
.icon-search:before {
  content: "\e908";
  color: #fff;
}
.icon-x:before {
  content: "\e909";
  color: #fff;
}
