.pic-text {
  &-wrapper {
    margin-bottom: 132px;
    position: relative;
    display: flex;
    align-items: center;
  }
  &-pic {
    width: 30%;
    img {
      width: 100%;
    }
  }
  &-text {
    width: 70%;
    padding-left: 84px;
    display: flex;
    gap: 72px;
    &__title {
      font-size: 35px;
      font-weight: 700;
      letter-spacing: 0.2em;
      width: 180px;
    }
    &__en {
      position: absolute;
      color: $primary-400;
      font-family: $font-en;
      top: 0;
      left: 20%;
      transform: translateY(-70%);
      font-size: 60px;
    }
    &__intro {
      font-size: 20px;
      font-weight: 100;
      letter-spacing: 0.2em;
      line-height: 2;
      width: calc(100% - 180px - 72px);
    }
  }
  @media screen and (max-width: 1399px) {
    &-text {
      flex-direction: column;
      gap: 12px;
      &__title {
        width: 100%;
        margin: 0;
      }
      &__intro {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 1199px) {
  &-wrapper {
    margin-bottom: 40px;
    flex-direction: column;
    gap: 20px;
  }
  &-pic {
    width: 100%;
  }
  &-text {
    width: 100%;
    padding-left: 0;
    &__title {
      font-size: 24px;
      width: 100%;
    }
    &__en {
      position: static;
      transform: none;
      font-size: 14px;
      margin-bottom: 0;
    }
    &__intro {
      font-size: 16px;
      width: 100%;
      br {
        display: none;
      }
    }
  }

  }
}
