$banner-ratio: 60%;
$banner-ratio-mobile: 120%;


.banner {
    position: relative;
    width: 100%;
    padding-bottom: $banner-ratio;
    &__pic {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }
    &__logo {
        display: block;
        width: 100%;
        max-width: 500px;
        margin: 0 auto 50px;
    }
    &__text {
        position: absolute;
        top: 6vw;
        left: 50%;
        transform: translateX(-50%);
        max-width: 420px;
        padding: 0 20px;
        text-align: center;
        color: $white;
        .btn {
            margin: 0 auto;
            padding: 12px 45px;
            width: fit-content;
        }
    }
    &__title {
        font-size: 72px;
    
        font-weight: 700;
        text-shadow: 0 2px 3px rgba(0,0,0,0.3);
        margin-bottom: 24px;
    }
    &__description {
        font-size: 20px;
        font-family: $font-sans;
        text-shadow: 0 2px 3px rgba(0,0,0,0.3);
        margin-bottom: 24px;
    }
    @media screen and (max-width: 991px) {
        padding-bottom: $banner-ratio-mobile;
        &__text {
            top: 12vw;
            width: 100%;
        }
        &__logo {
            width: 80%;
            margin-bottom: 20px;
        }
    }
    @media screen and (max-width: 575px) {
        &__text {
            .btn {
                padding: 8px 20px;
            }
        }
        &__title {
            font-size: 40px;
        }
        &__description {
            font-size: 16px;
        }
    }
}