@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

$text: #333333;
$white: #fff;
$brown: #ca9969;
$brown-2: #9c5c1c;
$primary-50: #fffaf6;
$primary-100: #fff1e3;
$primary-200: #fddfc1;
$primary-300: #e5c099;
$primary-400: $brown;
$primary-500: #b47d46;
$primary-600: #9e6023;
$primary-700: #85490d;
$primary-800: #763b00;
$primary-900: #4a2500;
$dark-50: #f0f0f0;
$dark-100: #dedede;
$dark-200: #c5c5c5;
$dark-300: #adadad;
$dark-400: #919191;
$dark-500: #707070;
$dark-600: #515151;
$dark-700: $text;
$dark-800: #202020;
$dark-900: #000000;
$red: #da0000;
$transition: 0.3s;
$body-md: 16px;
$body-lg: 18px;
$serif-md: 700 16px "noto serif TC";
$num-md: 700 20px "Titillium Web", sans-serif;
$body-bold-lg: 700 18px "noto serif TC";
$shadow-common: 0 4px 15px rgba(0, 0, 0, 0.15);
$font-sans: "noto sans TC";
$font-serif: "noto serif TC";
$font-titillium: "Titillium Web", sans-serif;

body {
  color: $text;
  // background-image: url(../img/bg.png);
  background-size: 100%;
  background-position: 0 0;
  background-repeat: repeat;
  font-family: $font-sans;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input,
select,
textarea,
button {
  outline: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

button {
  transition: $transition;
}

select {
  appearance: none;
  background-image: url(../img/select-arrow.svg);
  background-size: 18px;
  background-position: calc(100% - 14px) center;
  background-repeat: no-repeat;
}

main {
  overflow: hidden;
  min-height: calc(100vh - 61px);
  @media screen and (max-width: 767px) {
    padding-top: 0;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $text;
  display: block;
  transition: $transition;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: $primary-600;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  border: 1px solid $primary-400;
  padding: 8px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 0;
  &-text {
    font-size: 16px;
    font-family: $font-serif;
    font-weight: 700;
    transition: $transition;
    margin: 0;
  }
  &-icon {
    font-size: 16px;
    &::before {
      transition: $transition;
    }
  }
  &-border {
    background-color: transparent;
    color: $primary-400;
    font-family: $font-serif;
    font-weight: 700;
    width: fit-content;
    .btn {
      &-text {
        color: $primary-400;
        font-family: $font-serif;
        font-weight: 700;
      }
      &-icon {
        &::before {
          color: $primary-600;
        }
      }
    }
    &:hover {
      border-color: $primary-700;
      color: $primary-700;
      .btn {
        &-text {
          color: $primary-700;
        }
        &-icon {
          &::before {
            color: $primary-700;
          }
        }
      }
    }
  }
  &-border-onlyicon {
    width: 40px;
    height: 40px;
    border: 1px solid $brown-2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    .btn-icon {
      font-size: 32px;
      color: $brown-2;
    }
    &:hover {
      background-color: $brown-2;
      .btn-icon {
        &::before {
          color: $white;
        }
      }
    }
  }
  &-fill {
    background-color: $primary-400;
    color: $white;
    font-family: $font-serif;
    font-weight: 700;
    width: fit-content;
    .btn {
      &-text {
        color: $white;
        font-family: $font-serif;
        font-weight: 700;
      }
      &-icon {
        &::before {
          color: $white;
        }
      }
    }
    &:hover {
      background-color: $primary-700;
      color: $white;
      border-color: $primary-700;
    }
    &-light {
      padding: 8px 36px;
      background-color: $primary-200;
      border-color: $primary-200;
      .btn {
        &-icon {
          &::before {
            color: $primary-700;
          }
        }
        &-text {
          color: $primary-700;
        }
      }
      &:hover {
        background-color: $primary-500;
        border-color: $primary-500;
        .btn {
          &-icon {
            &::before {
              color: $white;
            }
          }
          &-text {
            color: $white;
          }
        }
      }
    }
  }
  &-alert {
    width: 52px;
    height: 32px;
    border-color: $red;
    color: $red;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    &:hover {
      background-color: $red;
      color: $white;
    }
  }
}

.title {
  font-size: 46px;
  font-weight: 900;
  margin-bottom: 36px;
  text-align: center;
  font-family: $font-serif;
  color: $brown-2;
  @media screen and (max-width: 991px) {
    font-size: 36px;
  }
}

.text {
  font-size: 16px;
  font-family: $font-serif;
}

.input-item {
  display: flex;
  height: 45px;
  margin-bottom: 20px;
  > label {
    padding: 8px;
    background-color: $primary-500;
    color: $white;
    font-family: $font-serif;
    font-weight: 900;
    text-align: center;
    display: block;
    height: 100%;
    letter-spacing: 0.05em;
    border: 1px solid $primary-500;
    &.bg-transparent {
      border: 0;
      color: $text;
    }
  }
  > input {
    height: 100%;
    padding: 0 10px;
    border: 1px solid $primary-500;
  }
  &.radio {
    .radio {
      &-main {
        display: flex;
        align-items: center;
        gap: 28px;
        padding: 8px 20px;
      }
      &-item {
        gap: 8px;
        display: flex;
        align-items: center;
        padding-bottom: 4px;
        > input {
          width: 16px;
          height: 16px;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            border: 1px solid $primary-500;
            top: 0;
            left: 0;
            border-radius: 50%;
          }
          &::after {
            position: absolute;
            content: "";
            width: 60%;
            height: 60%;
            background-color: $primary-500;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            opacity: 0;
          }
          &:checked {
            &::after {
              opacity: 1;
            }
          }
        }
        > label {
          font-size: 16px;
          font-family: $font-serif;
          font-weight: 900;
        }
      }
    }
  }
}

.nav {
  gap: 32px;
  &-link {
    padding: 0 0 6px;
    border-radius: 0;
    font-family: $font-serif;
    font-weight: 900;
    color: $text !important;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    &.active {
      background-color: transparent !important;
      color: $primary-600 !important;
      border-color: $primary-600;
    }
  }
  @media screen and (max-width: 575px) {
    width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 16px;
    margin-bottom: 20px;
    &-link {
      white-space: nowrap;
      font-size: 16px;
    }
  }
}

.popup {
  position: fixed;
  width: 400px;
  background-color: $white;
  padding: 24px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 5;
  p {
    margin: 0;
    text-align: center;
  }
}

.modal {
  &-content {
    border: 0;
    border-radius: 0;
  }
  &-header {
    border: 0;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    .btn-close {
      padding: 0;
      width: 24px;
      height: 24px;
      background: none;
      span {
        font-size: 24px;
      }
    }
  }
  &-body {
    padding: 0 40px 40px;
  }
  &-dialog {
    margin-top: 100px;
  }
  @media screen and (max-width: 767px) {
    &-body {
      padding: 0 15px 40px;
    }
  }
}
