.footer {
  &__main {
    padding: 60px 0;
    .container {
      display: flex;
      align-items: center;
    }
  }
  &-info {
    width: calc(100% - 350px);
    padding-right: 40px;
  }
  &-nav {
    margin-bottom: 32px;
    ul {
      display: flex;
      gap: 28px;
      width: fit-content;
      border-bottom: 1px solid $white-30;
      li {
        display: flex;
        align-items: center;
        height: 80px;
        a {
          font: $body-3;
          &:hover {
            color: $primary-300;
          }
        }
      }
    }
  }
  &-contact {
    display: flex;
    gap: 44px;
    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      gap: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $white;
        span {
          font-size: 20px;
        }
      }
      > p {
        margin: 0;
        font: $body-3;
        width: calc(100% - 40px - 16px);
      }
    }
  }
  &-map {
    width: 350px;
    padding-bottom: calc(350px * 0.7);
    position: relative;
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &__copyright {
    padding: 16px 0;
    background-color: $primary-700;
    p {
      text-align: center;
      margin: 0;
      font: $heading-6;
    }
  }
  @media screen and (max-width: 1199px) {
    &__main {
      .container {
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
      }
    }
    &-info {
      width: 100%;
    }
  }
  @media screen and (max-width: 991px) {
    &-info {
      display: flex;
      padding: 0;
    }
    &-nav {
      width: 40%;
      ul {
        gap: 16px;
        border-bottom: 0;
        border-left: 1px solid $white-30;
        flex-direction: column;
        padding-left: 24px;
        li {
          height: auto;
          a {
            font: $body-3;
            display: block;
            &:hover {
              color: $primary-300;
            }
          }
        }
      }
    }
    &-contact {
      flex-direction: column;
      width: 60%;
      gap: 20px;
    }
  }
  @media screen and (max-width: 575px) {
    &-info {
      flex-direction: column;
      gap: 24px;
    }
    &-contact {
      width: 100%;
      &-item {
        > p {
          font-size: 16px;
        }
      }
    }
    &-nav {
      width: 100%;
      ul {
        padding: 0;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row;
        border: 0;
        li {
          width: 45%;
          a {
            padding: 12px 0px;
            width: 100%;
          }
        }
      }
    }
  }
  @media screen and (max-width: 400px) {
    &-map {
      width: 100%;
      padding-bottom: 70%;
    }
    &__copyright {
      padding: 12px 0;
      p {
        font-size: 14px;
      }
    }
  }
}

.fixed-btn {
    position: fixed;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 8px;
    z-index: 0;
    z-index: 10;
    a {
        display: flex;
        width: 44px;
        height: 44px;
        align-items: center;
        justify-content: center;
        margin: 8px 0;
        position: relative;
        span {
            font-size: 20px;
        }
        &::after {
            position: absolute;
            content: "";
            width: 34px;
            height: 1px;
            background-color: $white-15;
            left: 50%;
            bottom: -8px;
            transform: translateX(-50%);
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
        &:hover {
            opacity: 0.6;
        }
    }
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: $primary-800;
        border: 1px solid $white-30;
        top: 0;
        left: 0;
        transform: skewY(15deg);
        z-index: -1;
    }
    @media screen and (max-width: 575px) {
        right: 16px;
        padding: 0 8px;
        a {
            width: 40px;
            height: 40px;
        }
    }
}